<a href="https://colab.research.google.com/github/vshalisko/PythonIntro/blob/main/Unidad_2/Ejemplos_unidad_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Gracias")

Gracias

In [ ]:
nombre = input("¿Cuál es tu nombre? ")

¿Cuál es tu nombre? Slava

In [ ]:
print(type("a"))
print(type(2))
print(type(2.13))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
nombres = ["Slava", "Gabriela"]
calificaciones = [10, 8, 9.5, 4]

print(type(nombres))
print(type(calificaciones))

print(nombres)
print(calificaciones)

<class 'list'>
<class 'list'>
['Slava', 'Gabriela']
[10, 8, 9.5, 4]

In [ ]:
pi = 3.141592
r = 12.42
area = pi * (r ** 2)
print(area)

484.6106721888

In [ ]:
horas = 67
dias = horas // 24
horas_residuo = horas % 24
print(f"{horas} horas equivalen a {dias} dias y {horas_residuo} horas")

67 horas equivalen a 2 dias y 19 horas

In [ ]:
numero = -2

if numero > 0:
    print("El número es positivo")
elif numero < 0:
    print("El número es negativo")
else:
    print("El número es cero")

El número es negativo

In [ ]:
# Definición de variables con el operador de asignación
# y uso de expresiones para calcular los valores
cuarto_hotel = 1200
impuesto = cuarto_hotel * 0.16
total = cuarto_hotel + impuesto
huespedes = 4
cuota_por_huesped = total / huespedes


# La linea a continuación permite imprimir el mensaje
# con valor de precio del hotel por persona
print("Cada huesped pagará: " + str(cuota_por_huesped) + " pesos")

Cada huesped pagará: 348.0 pesos

In [ ]:
def saludo(nombre, campus):
    print("\nBienvenidos, " + nombre)
    print("Su campus es " + campus)

saludo("Slava", "CUCBA")
saludo("Ivan", "CUCSH")

Bienvenidos, Slava
Su campus es CUCBA

Bienvenidos, Ivan
Su campus es CUCSH

In [ ]:
def celsius_a_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

t_celsius = 25
t_fahrenheit = celsius_a_fahrenheit(t_celsius)
print(t_fahrenheit)

77.0

In [ ]:
def imprime_separador():
  print("-" * 30)

imprime_separador()
print("Hola")
imprime_separador()

------------------------------
Hola
------------------------------

In [ ]:
numero_patas = int(input("¿Cuántas patas tiene el animal? "))

# Responde según el número de patas.
if numero_patas == 6:
  print("¡Ese es un insecto!")
elif numero_patas == 8:
  print("¡Esa es una araña!")
elif numero_patas == 4:
  print("Podría ser un caballo u otro mamífero de cuatro patas.")
elif numero_patas == 2:
  print("¡Ese es un ave!")
else:
  print("No sé qué animal es con esa cantidad de patas.")

¿Cuántas patas tiene el animal? 4
Podría ser un caballo u otro mamífero de cuatro patas.

In [ ]:
def verificar_nombre(username):
    if len(username) < 3:
        print("Nombre de usuario incorrecto. Debe tener por lo menos 3 símbolos.")
    elif len(username) > 15:
        print("Nombre de usuario incorrecto. Debe tener como máximo 15 símbolos.")
    else:
        print("Nombre de usuario correcto.")

verificar_nombre("Iv")
verificar_nombre("Ivan")
verificar_nombre("Tlahuizcalpantecuhtli")

Nombre de usuario incorrecto. Debe tener por lo menos 3 símbolos.
Nombre de usuario correcto.
Nombre de usuario incorrecto. Debe tener como máximo 15 símbolos.

In [ ]:
contador = 0
while contador < 10:
    print(contador)
    contador += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
resultado = 100
while resultado > 3:
    print(resultado)
    resultado = resultado / 2

100
50.0
25.0
12.5
6.25
3.125

In [ ]:
while True:
  print("Adivina mi ciudad")
  ciudad = str(input("Mi ciudad es: "))
  if ciudad == "Guadalajara":
    print("¡Adivinaste!")
    break
  print("¡No adivinaste! Intenta de nuevo")

Adivina mi ciudad
Mi ciudad es: Moscú
¡No adivinaste! Intenta de nuevo
Adivina mi ciudad
Mi ciudad es: Guadalajara
¡Adivinaste!

In [ ]:
# Ejemplo de bucle for
numeros = [1, 2, 3, 4, 5]

for numero in numeros:
    print(f"El número es: {numero}")

El número es: 1
El número es: 2
El número es: 3
El número es: 4
El número es: 5

In [ ]:
for i in "Universidad":
  print(f"{i}")

U
n
i
v
e
r
s
i
d
a
d

In [ ]:
for i in range(10, 101, 10):
  print(f"{i}")

10
20
30
40
50
60
70
80
90
100