<a href="https://colab.research.google.com/github/vshalisko/PythonIntro/blob/main/Unidad_2/Ejemplos_unidad_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Gracias")

Gracias

In [ ]:
nombre = input("¿Cuál es tu nombre? ")

¿Cuál es tu nombre? Slava

In [ ]:
print(type("a"))
print(type(2))
print(type(2.13))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
nombres = ["Slava", "Gabriela"]
calificaciones = [10, 8, 9.5, 4]

print(type(nombres))
print(type(calificaciones))

print(nombres)
print(calificaciones)

<class 'list'>
<class 'list'>
['Slava', 'Gabriela']
[10, 8, 9.5, 4]

In [ ]:
pi = 3.141592
r = 12.42
area = pi * (r ** 2)
print(area)

484.6106721888

In [ ]:
horas = 67
dias = horas // 24
horas_residuo = horas % 24
print(f"{horas} horas equivalen a {dias} dias y {horas_residuo} horas")

67 horas equivalen a 2 dias y 19 horas

In [ ]:
numero = -2

if numero > 0:
    print("El número es positivo")
elif numero < 0:
    print("El número es negativo")
else:
    print("El número es cero")

El número es negativo

In [ ]:
# Definición de variables con el operador de asignación
# y uso de expresiones para calcular los valores
cuarto_hotel = 1200
impuesto = cuarto_hotel * 0.16
total = cuarto_hotel + impuesto
huespedes = 4
cuota_por_huesped = total / huespedes


# La linea a continuación permite imprimir el mensaje
# con valor de precio del hotel por persona
print("Cada huesped pagará: " + str(cuota_por_huesped) + " pesos")

Cada huesped pagará: 348.0 pesos

### Funciones

In [ ]:
def saludo(nombre, campus):
    print("\nBienvenidos, " + nombre)
    print("Su campus es " + campus)

saludo("Slava", "CUCBA")
saludo("Ivan", "CUCSH")

Bienvenidos, Slava
Su campus es CUCBA

Bienvenidos, Ivan
Su campus es CUCSH

In [ ]:
def celsius_a_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

t_celsius = 25
t_fahrenheit = celsius_a_fahrenheit(t_celsius)
print(t_fahrenheit)

77.0

In [ ]:
def imprime_separador():
  print("-" * 30)

imprime_separador()
print("Hola")
imprime_separador()

------------------------------
Hola
------------------------------

### Bloque **if - else**

In [ ]:
numero_patas = int(input("¿Cuántas patas tiene el animal? "))

# Responde según el número de patas.
if numero_patas == 6:
  print("¡Ese es un insecto!")
elif numero_patas == 8:
  print("¡Esa es una araña!")
elif numero_patas == 4:
  print("Podría ser un caballo u otro mamífero de cuatro patas.")
elif numero_patas == 2:
  print("¡Ese es un ave!")
else:
  print("No sé qué animal es con esa cantidad de patas.")

¿Cuántas patas tiene el animal? 4
Podría ser un caballo u otro mamífero de cuatro patas.

In [ ]:
def verificar_nombre(username):
    if len(username) < 3:
        print("Nombre de usuario incorrecto. Debe tener por lo menos 3 símbolos.")
    elif len(username) > 15:
        print("Nombre de usuario incorrecto. Debe tener como máximo 15 símbolos.")
    else:
        print("Nombre de usuario correcto.")

verificar_nombre("Iv")
verificar_nombre("Ivan")
verificar_nombre("Tlahuizcalpantecuhtli")

Nombre de usuario incorrecto. Debe tener por lo menos 3 símbolos.
Nombre de usuario correcto.
Nombre de usuario incorrecto. Debe tener como máximo 15 símbolos.

### Bucle **while**

In [ ]:
contador = 0
while contador < 10:
    print(contador)
    contador += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
resultado = 100
while resultado > 3:
    print(resultado)
    resultado = resultado / 2

100
50.0
25.0
12.5
6.25
3.125

In [ ]:
while True:
  print("Adivina mi ciudad")
  ciudad = str(input("Mi ciudad es: "))
  if ciudad == "Guadalajara":
    print("¡Adivinaste!")
    break
  print("¡No adivinaste! Intenta de nuevo")

Adivina mi ciudad
Mi ciudad es: Moscú
¡No adivinaste! Intenta de nuevo
Adivina mi ciudad
Mi ciudad es: Guadalajara
¡Adivinaste!

### Bucle **for**

In [ ]:
# Ejemplo de bucle for
numeros = [1, 2, 3, 4, 5]

for numero in numeros:
    print(f"El número es: {numero}")

El número es: 1
El número es: 2
El número es: 3
El número es: 4
El número es: 5

In [ ]:
for i in "Universidad":
  print(f"{i}")

U
n
i
v
e
r
s
i
d
a
d

In [ ]:
for i in range(10, 101, 10):
  print(f"{i}")

10
20
30
40
50
60
70
80
90
100

### Cadenas de texto

In [3]:
frase = "La crisis se produce cuando lo viejo no acaba de morir y cuando lo nuevo no acaba de nacer"

largo_frase = len(frase)
print(frase)
print(largo_frase)

La crisis se produce cuando lo viejo no acaba de morir y cuando lo nuevo no acaba de nacer
90

In [4]:
frase2 = """
"La crisis se produce cuando lo viejo no acaba de morir y cuando lo nuevo no acaba de nacer".
–Bertolt Brecht.
"""

largo_frase2 = len(frase2)
print(frase2)
print(largo_frase2)

"La crisis se produce cuando lo viejo no acaba de morir y cuando lo nuevo no acaba de nacer".
–Bertolt Brecht.

112

In [5]:
frase = "La crisis se produce cuando lo viejo no acaba de morir y cuando lo nuevo no acaba de nacer"
print(frase[0])
print(frase[3])
print(frase[-5])

L
c
n

In [13]:
print(frase[0:9])
print(frase[76:])
print(frase[-17:-15])

La crisis
acaba de nacer
no

In [19]:
fruto = "aguacate"

parte_1 = fruto[:4]
parte_2 = fruto[4:]

print(parte_1)
print(parte_2)

print(parte_1 + parte_2)

agua
cate
aguacate

In [25]:
animales = "leones tigeres and osos"
print(animales.index("g"))
print(animales.index("osos"))

9
19

In [24]:
animales = "leones tigeres and osos"
print("caballos" in animales)
print("osos" in animales)

False
True

In [27]:
print("Montañas".upper())
print("Montañas".lower())

MONTAÑAS
montañas

### Listas

In [3]:
conciertos = ["Zoé", "Caifanes", "Icons of Classic Rock", "Natalia Jiménez"]
print(type(conciertos))
print(conciertos)

<class 'list'>
['Zoé', 'Caifanes', 'Icons of Classic Rock', 'Natalia Jiménez']

In [4]:
print(len(conciertos))
print("Caifanes" in conciertos)

4
True

In [5]:
print(conciertos[2])
print(conciertos[:2])

Icons of Classic Rock
['Zoé', 'Caifanes']

In [11]:
fruitos = ["Piña", "Manzana", "Pera", "Fresa"]
fruitos.append("Membrillo")
print(fruitos)

['Piña', 'Manzana', 'Pera', 'Fresa', 'Membrillo']

In [12]:
fruitos.insert(2, "Naranja")
print(fruitos)

['Piña', 'Manzana', 'Naranja', 'Pera', 'Fresa', 'Membrillo']

In [13]:
fruitos.remove("Pera")
print(fruitos)

['Piña', 'Manzana', 'Naranja', 'Fresa', 'Membrillo']

In [14]:
fruitos.pop()

'Membrillo'

### Lista de listas

In [11]:
alimentos = [["pan de caja", "tortilla", "bolillo", "baguette"],
            ["te negro", "te verde", "cafe americano", "cafe capuchino"]]

print(alimentos[0])
print(alimentos[1])
print(alimentos[0][1])
print(alimentos[1][3])

['pan de caja', 'tortilla', 'bolillo', 'baguette']
['te negro', 'te verde', 'cafe americano', 'cafe capuchino']
tortilla
cafe capuchino

### Diccionarios

In [17]:
file_counts = {"jpg":10, "txt":14, "csv":2, "py":23}
print(type(file_counts))
print(file_counts)

<class 'dict'>
{'jpg': 10, 'txt': 14, 'csv': 2, 'py': 23}

In [18]:
print(file_counts["txt"])
print("jpg" in file_counts)
print("html" in file_counts)

14
True
False

In [21]:
file_counts["cfg"] = 8
print(file_counts)

{'jpg': 10, 'txt': 14, 'csv': 17, 'py': 23, 'cfg': 8}

In [22]:
file_counts["csv"] = 17
print(file_counts)

{'jpg': 10, 'txt': 14, 'csv': 17, 'py': 23, 'cfg': 8}

In [23]:
file_counts = {"jpg":10, "txt":14, "csv":2, "py":23}
for extension in file_counts:
  print(extension)

jpg
txt
csv
py

In [26]:
file_counts = {"jpg":10, "txt":14, "csv":2, "py":23}
for value in file_counts.values():
  print(value)

10
14
2
23

In [25]:
file_counts = {"jpg":10, "txt":14, "csv":2, "py":23}
print(file_counts.keys())
print(file_counts.values())

dict_keys(['jpg', 'txt', 'csv', 'py'])
dict_values([10, 14, 2, 23])

In [29]:
file_counts = {"jpg":10, "txt":14, "csv":2, "py":23}
for ext, amount in file_counts.items():
  print("Existen {} archivos con la extensión .{}".format(amount, ext))

Existen 10 archivos con la extensión .jpg
Existen 14 archivos con la extensión .txt
Existen 2 archivos con la extensión .csv
Existen 23 archivos con la extensión .py

### Diccionario de diccionarios

In [13]:
estudiantes = {
    "Juan": {
        "Matemáticas": 85,
        "Historia": 90,
        "Biología": 78
    },
    "María": {
        "Matemáticas": 92,
        "Historia": 88,
        "Biología": 95
    },
    "Pedro": {
        "Matemáticas": 70,
        "Historia": 75,
        "Biología": 80
    }
}

In [14]:
# Acceder a los datos
print("Calificación de Juan en Historia:", estudiantes["Juan"]["Historia"])
print("Calificación de María en Biología:", estudiantes["María"]["Biología"])

# Agregar nueva materia a un estudiante
estudiantes["Pedro"]["Geografía"] = 82

# Recorrer el diccionario
for nombre, materias in estudiantes.items():
    print(f"\nEstudiante: {nombre}")
    for materia, calificacion in materias.items():
        print(f"  {materia}: {calificacion}")

Calificación de Juan en Historia: 90
Calificación de María en Biología: 95

Estudiante: Juan
  Matemáticas: 85
  Historia: 90
  Biología: 78

Estudiante: María
  Matemáticas: 92
  Historia: 88
  Biología: 95

Estudiante: Pedro
  Matemáticas: 70
  Historia: 75
  Biología: 80
  Geografía: 82

### Control de datos introducidos por el usuario

In [4]:
def check(x):
    if 25 < x < 50:
        print(x, "es un numero correcto!")
    else:
        print(x, "es un número incorrecto!")


your_int = int(input("Introduce el número entero entre 25 y 50: "))
check(your_int)

Introduce el número entero entre 25 y 50: 40
40 es un numero correcto!

In [6]:
def check(x):
    if 25 < x < 50:
        print(x, "es un numero correcto!")
    else:
        print(x, "es un número incorrecto!")


try:
    your_int = int(input("Introduce un número entero entre 25 y 50: "))
    check(your_int)
except ValueError:
    print("El dato introducido no es un numero entero!")

Introduce un número entero entre 25 y 50: French Toast
¡El dato introducido no es un numero entero!

In [8]:
def check_input():
    while True:
        try:
            your_int = int(input("Introduce un número entero entre 25 y 50: "))
            if 25 < your_int < 50:
                print(your_int, "es un numero correcto!")
                break
            else:
                print(your_int, "es un número incorrecto! '¡Intente otra vez!")
        except ValueError:
            print("¡El dato introducido no es un numero entero! ¡Intente otra vez!")

check_input()

Introduce un número entero entre 25 y 50: 10
10 es un número incorrecto! '¡Intente otra vez!
Introduce un número entero entre 25 y 50: French Toast
¡El dato introducido no es un numero entero! ¡Intente otra vez!
Introduce un número entero entre 25 y 50: 40
40 es un numero correcto!