<a href="https://colab.research.google.com/github/vshalisko/PythonIntro/blob/main/Unidad_2%20/Ejemplos_unidad_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Ejemplo de expresiones con operadores aritméticos

In [18]:
precio_de_cuarto = float(input("¿Cual es el precio por cuarto? "))
numero_huespedes = int(input("¿Cuantos huespedes? "))
porcentaje_impuesto = 16

impuesto = precio_de_cuarto * porcentaje_impuesto / 100
total = round(precio_de_cuarto + impuesto, 2)
precio_por_huesped = round(total / numero_huespedes, 2)

print("Precio total del cuarto: " + str(total) + " pesos, cada \"huesped\" pagará: " + str(precio_por_huesped) + " pesos")

¿Cual es el precio por cuarto? 5709.30
¿Cuantos huespedes?5
Precio total del cuarto: 6622.79 pesos, cada "huesped" pagará: 1324.56 pesos

## Ejemplo de una funcion definida por el usuario

In [22]:
def t_convert(t):
  # la formula para calculo es F = C * 9/5 + 32
  resultado = t * 9 / 5 + 32
  return resultado

print(t_convert(float(input("Escribe T en Celsius: "))))

Escribe T en Celsius: -32
-25.6

### Ejemplos del bloque **if - elif - else**

In [4]:
numero_patas = int(input("¿Cuántas patas tiene el animal? "))

# Responde según el número de patas.
if numero_patas == 6:
  print("¡Ese es un insecto!")
elif numero_patas == 8:
  print("¡Esa es una araña!")
elif numero_patas == 4:
  print("Podría ser un caballo u otro mamífero de cuatro patas.")
elif numero_patas == 2:
  print("¡Ese es un ave!")
else:
  print("No sé qué animal es con esa cantidad de patas.")

¿Cuántas patas tiene el animal? 6
¡Ese es un insecto!

In [5]:
def verificar_nombre(username):
    if len(username) < 3:
        print("Nombre de usuario incorrecto. Debe tener por lo menos 3 símbolos.")
    elif len(username) > 15:
        print("Nombre de usuario incorrecto. Debe tener como máximo 15 símbolos.")
    else:
        print("Nombre de usuario correcto.")

verificar_nombre("Iv")
verificar_nombre("Ivan")
verificar_nombre("Tlahuizcalpantecuhtli")

Nombre de usuario incorrecto. Debe tener por lo menos 3 símbolos.
Nombre de usuario correcto.
Nombre de usuario incorrecto. Debe tener como máximo 15 símbolos.

### Ejemplos del bucle **while**

In [7]:
contador = 0
while contador < 6:
    print(contador)
    contador += 1

0
1
2
3
4
5

In [6]:
resultado = 100
while resultado > 3:
    print(resultado)
    resultado = resultado / 2

100
50.0
25.0
12.5
6.25
3.125

In [8]:
while True:
  print("Adivina mi ciudad")
  ciudad = str(input("Mi ciudad es: "))
  if ciudad == "Guadalajara":
    print("¡Adivinaste!")
    break
  print("¡No adivinaste! Intenta de nuevo")

Adivina mi ciudad
Mi ciudad es: México
¡No adivinaste! Intenta de nuevo
Adivina mi ciudad
Mi ciudad es: Guanajuato
¡No adivinaste! Intenta de nuevo
Adivina mi ciudad
Mi ciudad es: Guadalajara
¡Adivinaste!

### Ejemplos del bucle **for**

In [2]:
mi_lista = ["A", "B","Ivan", "CUCBA"]

for i in mi_lista:
  print("Elemento: " + i)

Elemento: A
Elemento: B
Elemento: Ivan
Elemento: CUCBA

In [3]:

mi_cadena = "Me gusta dormir"

for i in mi_cadena:
  print("Letra: " + i)

Letra: M
Letra: e
Letra:
Letra: g
Letra: u
Letra: s
Letra: t
Letra: a
Letra:
Letra: d
Letra: o
Letra: r
Letra: m
Letra: i
Letra: r